// Переменные
$fontFamily: 'Rubik', sans-serif;
$fontFamily2: 'Montserrat', sans-serif;

body {
  font-family: $fontFamily;
  font-size: 16px;
  min-width: 320px;
  color: #536473;
}

.container {
  max-width: 1310px;
  padding: 0 15px;
  margin: 0 auto;
}